.buckets-list-container {
  .title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  .buckets-list {
    .list-group-item {
      display: flex;
      align-items: center;
      flex-basis: 100%;

      .name {
        flex-basis: 75%;
      }

      .actions {
        flex-basis: 25%;
        text-align: right;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    // @media (max-width: 768px) {
    //   flex-direction: row;
    //   flex-wrap: wrap;
    // }
  }
}
